################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BanHang.sln
/BanHang.sln

# Ignore Visual Studio folder
.vs/

# Ignore build outputs
bin/
obj/
